* {
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
    color: #333;
}

.container {
    text-align: center;

    & h1 {
        margin-left: -73px;
    }
}

.headline {
    font-size: 48px;
    color: #FAC60F;
}
